ul {
  list-style: none;
  padding: 0;
}

button {
  outline: none;

  &:focus {
    outline: none;
  }
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: $dim-grey;
}

.z-10 {
  z-index: 10;
}

main {
  background: white;
}



.slick-prev::before, .slick-next::before {
  color: $mid-green !important;
}

.cursor-pointer {
  cursor: pointer;
}